# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Downloaded files
downloads/
*.part
temp_chunks/
data/history.json
